[submodule "BCT.Common.Utilities.RPNEvaluator.CPPWin"]
	path = BCT.Common.Utilities.RPNEvaluator.CPPWin
	url = http://usbsrdtfs18.bct.gambro.net:8080/tfs/ActiveDevelopment/Common%20Components/_git/BCT.Common.Utilities.RPNEvaluator.CPPWin
